<nav class="navbar navbar-default navbar-static-top navbar-inverse">
    <div class="container">
        <ul class="nav navbar-nav">
            <li class="active">
                <a href="/"><span class="glyphicon glyphicon-home"> Home</span></a>
            </li>
            <li>
                <a href="/about"><span class="glyphicon glyphicon-user"> About</span></a>
            </li>
            <li>
                <a href="/projects"><span class="glyphicon glyphicon-folder-open"> Projects</span></a>
            </li>
        </ul>
    </div>
</nav>