<!DOCTYPE html>
<html>
    <head>
        <% include ../partials/header.ejs %>
    </head>

    <body>
        <% include ../partials/nav.ejs %>
        <div class="jumbotron text-left">
            <div class="container">
                <h1>I aim for the top.</h1>
                <p>From acadamia to recreation, I give it my all.</p>
                <div class="container">
                    <p>Notable accomplishments:</p>
                    <li> 3.93 Major GPA</li>
                    <li> 2015 NPC Physique Competitor</li>
                </div>
            </div>
        </div>
    </body>
</html>
