<!DOCTYPE html>
<html>
    <head>
        <% include ../partials/header.ejs %>
    </head>

    <body>
        <% include ../partials/nav.ejs %>
        <div class="jumbotron text-left">
            <div class="container">
                <p class="lead">From acadamia to recreation, I give it my all.</p>
                <hr class="my-4">
                <p class="lead">Notable accomplishments:</p>
                <li> 3.93 Major GPA</li>
                <li> 2015 NPC Physique Competitor</li>
            </div>
        </div>
    </body>
</html>
